.sales-funnel{
    width:100%;
}

.sales-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.sales-header h3{
    font-size:20px;
}

.sales-header span{
    color:#888;
    font-size:14px;
}

.sales-item{
    margin-bottom:22px;
}

.sales-title{
    display:flex;
    justify-content:space-between;
    margin-bottom:8px;
    font-size:15px;
    font-weight:600;
}

.progress-bg{
    width:100%;
    height:12px;
    background:#e5e7eb;
    border-radius:20px;
    overflow:hidden;
}

.progress-fill{
    height:100%;
    background:#2563eb;
    border-radius:20px;
    transition:.4s;
}